{% extends 'core/base.html' %}
{% block content %}
<h1 class="text-warning mt-5 border-bottom">Contact Information</h1>
<div class="col-sm-4 text-light mt-5 ">
    <i class="fa-solid fa-phone-volume fa-2xl" style="color: #3cbe7b;"></i>
    <h3 >Phone No.:- +91-8959922490</h3>
</div>
    <div class="col-sm-4 text-light mt-5 ">
        <i class="fa-brands fa-linkedin fa-2xl" style="color: #4bd88f;"></i>
        <a href="https://linkedin.com/in/s2003" target="_main">LinkedIn</a>
        <h3> LinkedIn</h3>
        </div>

        <div class="col-sm-4 text-light mt-5 ">
            <i class="fa-solid fa-envelope fa-2xl" style="color: #4bd262;"></i>
            <a href="lokhandesakshi640@gmail.com" target="_main">Email:- lokhandesakshi640@gmail.com</a>
            <h3> Email </h3>
            </div>
            <div class="col-sm-4 text-light mt-5">
                <i class="fa-brands fa-github fa-2xl" style="color: #37e6a3;"></i> 
                <a href="https://github.com/Sakshi1009hack" target="_main">GitHub</a>
                <h3>GitHub</h3>
                
  </div>
{% endblock content %}