{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="mt-5 text-center">
    <h1 class="text-white st-font">SAKSHI LOKHANDE</h1>
    </div>
  <div class="mt-5 text-white mx-5 ">
    <div class="mt-5">
    <h1 class="'font-weight-bold st-font"><i>Hello,</i></h1>
    <div class="px-4 style=line-height:2rem;">
        <p style="text-indent:100px; ">
        I am <b  >SAKSHI LOKHANDE</b> curently persuing my graduation form Acropolis Institute of Technology and Research Indore(M.P.), the poortfolio is a representation
      of all that I've learned as a science and engineering student. </p>
    </div>
    </div>
  </div>
  <div class="text-center">
    
  <a  href="http://127.0.0.1:8000/contact/" class="btn btn-outline-info my=3">Contact</a>
  </div>
</div>
                {% endblock content %}