{% extends 'core/base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">Services</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4 text-light ">
            <i class="fa-solid fa-magnifying-glass-plus fa-2xl mb-3 " style="color: hsl(143, 75%, 37%); "></i>
            <h3>Web Devlopment</h3>
            <p ss-color>Worked on manay Web devlopment projects</p>
        </div>
        <div class="col-sm-4 text-light ">
            <i class="fa-solid fa-dna fa-2xl" style="color: #3bc96d;"></i>
            <h3>Problem Solving</h3>
            <p>Highly interseted in DSA</p>
        </div>
        <div class="col-sm-4 text-light ">
            <i class="fa-solid fa-cloud-arrow-up fa-2xl" style="color: #46dd73;"></i>
            <h3>Cloud Computing</h3>
            <p>Worked on google console and AWS Console</p>
        </div>
    </div>
        
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4 text-light ">
             <i class="fa-solid fa-bars fa-2xl" style="color: #40b573;"></i>
            <h3>OOPs</h3>
            <p ss-color>Familier with Object Oriented programing and its concepts</p>
        </div>
        <div class="col-sm-4 text-light ">
            <i class=""></i>
            <h3></h3>
            <p></p>
        </div>
        <div class="col-sm-4 text-light ">
            <i class=""></i>
            <h3></h3>
            <p></p>
        </div>
    </div>
    </div>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4 text-light ">
            <i class=" "></i>
            <h3></h3>
            <p ss-color></p>
        </div>
        <div class="col-sm-4 text-light ">
            <i class=""></i>
            <h3></h3>
            <p></p>
        </div>
        <div class="col-sm-4 text-light ">
            <i class=""></i>
            <h3></h3>
            <p></p>
        </div>
    </div>
</div>
</div>
                {% endblock content %}